.footer{
    background: #222222;
    padding-top:80px;
    padding-bottom: 80px;
    font-family: $font-stack;
}
.footer-about h2,.footer-contact h2{
    font-weight:bold ;
    color:white;
}
.copyright{
    margin-top: 30px;
}