body {
    line-height: 28px;
}
p{
    color: #777777;
    font-family: $font-stack;
}
.mt-50{
    margin-top:50px;
}
.mb-50{
    margin-bottom: 50px;
}
.m-50{
    margin:50px;
}
.mtb-50{
    margin-top:50px;
    margin-bottom: 50px;
}
.pl-0{
    padding-left:0;
}
.pr-0{
    padding-right: 0;
}
